<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">

</head>
<body>
    <div class="main-content"> {{>header}}
   <h2>The one and only</h2> 
   <img class ="portrait" src="./img/Shiva.jpg" height="200px" width="200px" alt="Photo of Shiva">
    <p>Created by {{name}}</p></div>
  
    {{>footer}}
</body>
</html>