
{{!-- this is the static title provided by me  --}}
{{!-- <h1>Static header.hbs Text</h1> --}}
{{!-- So to get the dynamic title we can provide each page its title and then load it here like this  --}}

<header>
    <h1>{{title}}</h1>

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>

</header>
